*{
	margin-top: 5px;
}

.name{
	/*font-family: Arial, serif, Serif;*/
	font-family: "Times New Roman", Times, serif;
	font-size: 40px;
}


/* Image Crop*/
img{
	width: 400px;
	height: 400px;

}
.img{
	background-image: url('https://scontent.fsnc1-1.fna.fbcdn.net/hphotos-xpa1/v/t1.0-9/12027781_159568451051371_725604790994112634_n.jpg?oh=49b79e447631f071e95274b7c41cce51&oe=56A46BD8'); 
background-repeat: no-repeat;
background-size: 300px 300px;
border-radius: 15px;
  max-width: 300px;
  max-height: 300px;
  /*width:40%;*/
  /*padding:5%;*/
}
/*End of image Crop*/