*{
	margin-top: 5px;
	/*outline-style: solid;*/
    /*outline-color: red;*/
}
a{
	color: #fff;
	background-color: #fff;
}
span{
	text-decoration: underline;
	/*font-size: 22px;*/
}

.name{
	/*font-family: Arial, serif, Serif;*/
	font-family: "Times New Roman", Times, serif;
	font-size: 40px;
}
.left-outer{
	margin-left: 20px;
}
.left-inner{
	margin-left: 50px;
}
.i{
	margin-left: 10px;
}
.i:hover{
	/*color: #439CEA;*/
	color:#3074AC;
}


/* Image Crop*/
img{
	width: 300px;
	height: 300px;
}
.img{
	background-image: url('https://scontent.fsnc1-1.fna.fbcdn.net/hphotos-xpa1/v/t1.0-9/12027781_159568451051371_725604790994112634_n.jpg?oh=49b79e447631f071e95274b7c41cce51&oe=56A46BD8'); 
	background-repeat: no-repeat;
	background-size: 300px 300px;
	border-radius: 15px;
	margin-left: 20px;
  	/*max-width: 300px;
  	max-height: 300px;
  	width:40%;
  	padding:5%;*/
}
/*End of image Crop*/