.under_development{
	color: #3074AC;
}
*{
	margin-top: 5px;
	/*outline-style: solid;*/
    /*outline-color: red;*/
}
a{
	color: #fff;
	background-color: #fff;
}
span{
	/*text-decoration: underline;*/
	/*font-size: 22px;*/
}

.name{
	/*font-family: Arial, serif, Serif;*/
	font-family: "Times New Roman", Times, serif;
	font-size: 40px;
}
.left-outer{
	margin-left: 20px;
}
.left-inner{
	margin-left: 50px;
}
.i{
	margin-left: 10px;
}
.i:hover{
	/*color: #439CEA;*/
	color:#3074AC;
}


/* Image Crop*/
img{
	width: 300px;
	height: 300px;
		background-size: 300px 300px;
	border-radius: 15px;
	margin-left: 20px;

}
/*End of image Crop*/